body {
    background: url("https://www.yo-yoo.co.il/rekaim/images/uploads/abstract-1891289_1280.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    align-items: center;
    background-color: #cac4c431;
    color: #fff;
    display: flex;
    height: 80px;
    /* Ajuster la hauteur si nécessaire */
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    text-align: center;
}

#navSection {
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.navItem {
    background-color: rgba(128, 128, 128, 0.301);
    width: 130px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

.navA {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #b2a4a4;
    font: bold 26px 'pauzafot-book', Courier New, sans-serif;
}

h1 {
    color: #b2a4a4;
    margin: 0 auto;
    font: bold 30px 'pauzafot-book', Copperplate, sans-serif;
}

#cyberIcon {
    border: black;
    width: 110px;
    height: 110px;
    border-radius: 58px !important;
    padding: 5px;
}

#searchComputer {
    margin-top: 150px;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    height: 64px;
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 13px;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

button {
    all: unset;
    display: inline-block;
    cursor: pointer;
}

#imgSearch {
    padding-left: 15px;
}

#searchInput {
    width: 100%;
    /* Prendre toute la largeur disponible */
    line-height: 34px;
    color: rgb(223, 207, 207);
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 0 10px 10px 0;
    font: normal 26px 'pauzafot-book', Courier New, sans-serif;
    padding: 5px;
}

input::placeholder {
    color: #b2a4a4;
    opacity: 1;
}

#computerList {
    list-style: none;
    width: 60%;
    height: 400px;
    font: normal 26px 'pauzafot-book', Courier New, sans-serif;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #cac4c431;
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

li {
    padding: 10px;
    color: rgb(223, 207, 207);
    font-family: Courier New;
    margin: 14px;
    margin-top: 12px !important;
    height: 40px;
    background-color: rgba(128, 128, 128, 0.301);
    border-radius: 10px;
    cursor: pointer;
}