body{
    background: url("background.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.background-container iframe {
    width: 100% !important;
    height: 100%;
    border: none;
    position: absolute;
}

header{
    align-items: center !important;
    background-color:#cac4c431;
    color: #fff;
    display: flex;
    height: var(--header-height);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    left: 0;
    text-align: center;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

#navSection{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-left: 20px;
}

.navItem{
    background-color:rgba(128, 128, 128, 0.301);
    width: 130px;
    margin: 4px;
    border-radius: 10px;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

.navA{
    display: flex;
    align-items: center;
    text-decoration: none;
    color:#b2a4a4;
    font: bold 26px 'pauzafot-book', Courier New, sans-serif;
}

h1 {
    color: #b2a4a4;
    margin-right: 400px;
    font: bold 32px 'pauzafot-book', Papyrus, sans-serif;
    position: fixed;
    left: 50%;
    top:10%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin: 0;
    display: inline-block;
}

#user{
    background-color:rgba(128, 128, 128, 0.301);
    position: fixed;
    right: 0;
    border: black;
    width: 100px;
    height: 100px;
    border-radius: 58px !important;
    padding: 5px;
    margin-right: 7px;
}

#userLog{
    margin-top: 0;
    padding-top: 0;
    font: normal 22px 'pauzafot-book', Courier New, sans-serif;
}

#userLock{
    margin: auto;
    margin-top: 13px;
}

#cyberIcon{
    border: black;
    width: 110px;
    height: 110px;
    border-radius: 58px !important;
    padding: 5px;
}

#homeNow{
    position: fixed;
    /* left: 0; */
}

input[type=text] {
    border: 2px solid red;
}

input[type=password] {
    border: 2px solid red;
}

input::placeholder {
    color: #b2a4a4;
    opacity: 1;
}

input[type=date] {
    border: 2px solid red;
}

input[type=time] {
    border: 2px solid red;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

body::-webkit-scrollbar{
    display: none !important;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #e80606;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}