#title{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    font: bold 30px 'pauzafot-book', Papyrus, sans-serif;
}

main{
    padding-top: 100px;
}

form{
    margin-top: 65px;
    width: 40%;
    color: rgb(173, 21, 24);
    font: normal 26px 'pauzafot-book', Arial, sans-serif;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color:#cac4c431;
    border-radius: 15px;
}

fieldset{
    border-radius: 15px;
    box-shadow: 0 5px 10px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}

p{
    padding-top: 0%;
}

.inputDiv{
    margin: 14px;
}

label{
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 800;
    font: normal 26px 'pauzafot-book', Courier New, sans-serif;
    text-shadow: 
    -1px -1px 0 white,  
    1px -1px 0 white,  
    -1px 1px 0 white,  
    1px 1px 0 white;
}

input{
    color: white;
    border:0;
    border-radius: 20px;
    box-shadow: black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(128, 128, 128, 0.301);
    border: solid 1px #e4e4e4;
    direction: ltr;
    padding: 5px 15px;
    font: normal 26px 'pauzafot-book', Courier New, sans-serif;
    text-align: center;
}

input::placeholder {
    color: white;
    text-shadow: 
        -1px -1px 0 black,  
        1px -1px 0 black,  
        -1px 1px 0 black,  
        1px 1px 0 black;
}

button{
    border: 0;
    font: normal 18px / 32px 'NarkisBlock-CondensedThin', Arial, sans-serif;
    color: #fff;
    background: #a63030;
    border-radius: 22px;
    display: inline-block;
    padding: 4px 15px;
    margin-left: 5px;
    min-width: 100px;
    text-align: center;
    cursor: pointer;
}

button:hover {
    background-color: #b30000;
}

button:active {
    background-color: #7f0000;
    box-shadow: 0 1px 5px 0 rgba(244, 237, 237, 0.815), 0 8px 25px 0 rgba(239, 236, 236, 0.19);
}